body{background-color:darkred;}

section{color: azure;} 

.color-fondo1{background-color: antiquewhite;;
             h2{color: red;
            text-align: center;}
             ul{color: crimson;} 
             font-size: 150%;
            font-family: 'Franklin Gothic Medium', Arial}
            
.titulo1{
  text-align: center;
  font-size: 200%;
  font-family: 'Franklin Gothic Medium', Arial
        }

.escudo1
{
}
.fondodorado{background-color:#d78d0f;
           color: white;
            font-size: 170%;
            text-align: center;}

.escudofondo{background-color: #ffffff;}

.origen{text-align: center;     
       font-size: 120%;
       }
.independientesa{background-color: #ffffff;
                color: red;
                font-size: 110%;
                font-family: 'Franklin Gothic Medium', Arial;;}
.sudaca{text-align: center;
   font-size: 120%;}
.suruga{text-align: center;
   font-size: 120%;}
   .lostitu{text-align: center;}


