body{background-color:darkred;}

section{color: azure;} 

.color-fondo1{background-color: antiquewhite;
             h2{color: red;}
             ul{color: crimson;} 
             font-size: 120%;
            font-family: 'Franklin Gothic Medium', Arial;
            text-align: center;}
            
.titulo1{
  text-align: center;
  font-size: 200%;
  font-family: 'Franklin Gothic Medium', Arial
        }

.escudo1{}


.fondodorado{background-color:#d78d0f;
           color: white;
            font-size: 170%;
            text-align: center;}


.escudofondo{background-color: #ffffff;}


.origen{text-align: center;     
       font-size: 120%;
       }


.independientesa{background-color: #ffffff;
                color: red;
                font-size: 110%;
                font-family: 'Franklin Gothic Medium', Arial;;
                }


.sudaca{text-align: center;
   font-size: 120%;}

.lostitu{text-align: center;}


.fototitulos{text-align: center;}


.textitu{font-size: 90%;
list-style: none;}


   .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20rem;
    font-size: 110%;
    
}

.link a {
    padding: 0 1rem;
    color: var(--text-dark);   
    transition: 0.3s;
    }

.link a:hover {
    color: var(--primary-color);
    }

.historiasa{font-size: 200%;
text-align: center;}

.fotosudaca{display: center;}

.tituido{font-size: 150%;text-align: center;
list-style: none;}

.textoido{font-size: 130%;
text-align: center;}

.omarperez{background-color: antiquewhite;
color: crimson;
}

.fotoalfonso{text-align: center;}

.fotoleider{text-align: center;}

.seijasfoto{text-align: center;}
















.footer{
    background-color: var(--text-dark);
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    color: var(--secondary-color);
}
.footer-col h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.footer-col h3 span{
    color: var(--primary-color);
}
.footer-col p{
    font-size: 0.8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.footer-col p:hover{
    color: var(--primary-color);
}
.footer-col p span{
    font-weight: 600;
}
.footer-col h4{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.footer-bar{
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: black;
    border-top: 1px solid var(--text-light);
    background-color: white;
}

